@import "tailwindcss";

/* === Colors and Fonts === */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: 'Inter', Arial, Helvetica, sans-serif;
  --font-mono: 'Fira Code', monospace;
}

/* Dark mode logic using CSS variables */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

main {
  padding-top: 8rem; /* Navbar ki height ke hisaab se adjust karein */
}
/* Body styling */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
}

/* Custom Tailwind Layers (Optional) */
@layer base {
  * {
    @apply border-gray-200;
  }
}